* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  text-align: center;
}

body header {
  min-height: 80px;
  background-color: blue;
  color: white;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
}

body header ul {
  display: flex;
  justify-content: center;
}

body header ul li {
  margin: 0 10px;
  font-size: 20px;
  list-style: none;
}

body header ul li a {
  text-decoration: none;
  color: white;
  background-color: green;
  padding: 6px;
  border-radius: 15px;
}

body footer {
  min-height: 80px;
  background-color: green;
  color: white;
}

.content {
  min-height: 200px;
  background-color: yellow;
  margin-top: 80px;
  padding-top: 50px;
}

